{% spaceless %}
<a{% for attr, value in options %} {{ attr }}="{{ value }}"{% endfor %}>{{ title }}

{% if options.class == 'desc' %}<span class="ui-icon ui-icon-arrow-1-s"></span>{% endif %}
{% if options.class == 'asc' %}<span class="ui-icon ui-icon-arrow-1-n"></span>{% endif %}

</a>
{% endspaceless %}