<h3>{{'title_leave_comment'|trans({}, 'SonataNewsBundle') }}</h3>

<form action="{{ url('sonata_news_add_comment', {'id': post_id}) }}" method="POST" >


    {{ form_rest(form) }}

    <input type="submit" value="{{'btn_add_comment'|trans({}, 'SonataNewsBundle') }}" />
</form>

