<div class="row collapse" id="slider">

  <div class="twelve columns slider">

    <!-- container for the slides -->
    <div class="images">

      
      
        <div>
          <div class="youtube">
            
            <img src="{{ asset('bundles/wncsoldier/images/banner.jpg') }}" />

          </div>
          <div class="text">
            <p class="noborder">
<span style="color: #ffff01;"><strong>In light of the possible incursion into Gaza with Operation Amud Anan - Clouds of Defense, The Shmirah Project website is being launched quickly. Please understand that video film and interviews will be uploaded as they are developed.</strong></span>
</p><p class="noborder">            
The Shmirah Project pairs individual Jews worldwide with Israeli soldiers for the sake of doing good deeds, prayer and learning Torah to add to the spiritual merit of each soldier. Increase the amount of goodness brought into the world; help protect the people of Israel.
</p>


      <h4 style="color: #fff;">Join L'Shem Shmirah Project.</h4>
      <p class="noborder">It's personal. It's powerful. It's one name at a time.<br>
      It's guard duty for the rest of us.
      </p>


            
          </div>


        </div>
      


    </div>


    <div class="prev"><a href="#" class="backward"><span>Prev</span></a></div>
    <div class="next"><a href="#" class="forward"><span>Next</span></a></div>
    <div class="eleven columns slider-tabs-container">
      
      <div class="slider-tabs row">
            <a href="#"><img src="bundles/wncsoldier/images/banner.jpg" style="height:128px; width: 162px;" /></a>
    
      </div>
    </div>


  </div>



</div>
