/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

	p.intro { font-size: 18px; line-height: 1.3; color: #555; }
	h1 small, h2 small, h3 small, h4 small, h5 small { color: #777; font-size: 60%; font-weight: normal; }
    .login-form {
        position: absolute;
        top:10px;
        right: 0;
    }
    
    .sorted .ui-icon {
        display: inline-block;
    }
    
    .records_list tbody tr:hover {
        background: #dfdfdf;
    }
    
    .records_list tr:nth-child(2) {
        background: #f8f8f8;
    }
    
    
    .wnc_soldierbundle_soldiertype_gender label, .wnc_soldierbundle_soldiertype_gender .radio  {
        
        display: inline-block;
        margin-right: 25px;
/*        margin-left: 25px;*/
        
    }
    .wnc_soldierbundle_participanttype_gender label, .wnc_soldierbundle_participanttype_gender .radio  {
        
        display: inline-block;
        margin-right: 25px;
/*        margin-left: 25px;*/
        
    }
    
    .wnc_soldierbundle_soldiertype_wants_to_contact label {
            display: inline-block;
            margin-right: 25px;
    }
    
    .row form .space-5, .row .space-5 {
        margin-bottom: 5px;
    }
    .row form .space-10, .row .space-10 {
        margin-bottom: 10px;
    }
    .row form .space-15, .row .space-15  {
        margin-bottom: 15px;
    }
    
    .row form .space-20, .row .space-20 {
        margin-bottom: 20px;
    }
    .row form .space-25, .row .space-25 {
        margin-bottom: 25px;
    }
    .row form .space-30, .row .space-30  {
        margin-bottom: 30px;
    }
    
    .errors ul {
        list-style: none;
        color: red;
    }
    
    label span.required {
        color: red;
    }

/* -----------------------------------------
   Header and Footer
----------------------------------------- */


	footer { padding-bottom: 20px; }
	footer .row { margin-top: 20px; padding-top: 20px; border-top: 1px solid #ddd; }


/* -----------------------------------------
   Homepage
----------------------------------------- */

	.jumbotron { position: relative; }
	.jumbotron h1 { position: absolute; left: 20px; bottom: 20px; }
	
	.homepage .content { position: absolute; left: 80px; bottom: 20px; width: 50%; background: rgba(255,255,255,0.85); padding: 20px; }
	.homepage .content blockquote { padding: 0; border-left: none; font-size: 24px; font-weight: bold; }
	.homepage .content h1 { position: relative; left: 0px; bottom: 0px; font-size: 18px; font-weight: normal; }
	
	.homepage a.slider { display: block; background: #fff; width: 60px; height: 80px; line-height: 80px; position: absolute; top: 50%; margin-top: -40px; text-align: center; }
	.homepage a#prev { left: 0px; }
	.homepage a#next { right: 0px; }
	
	
/* -----------------------------------------
   Culinary Academy
----------------------------------------- */

	.culinary .content { position: absolute; left: 0; bottom: 0; width: 100%; background: rgba(255,255,255,0.85); }
	.culinary .content p { width: 60%; padding: 20px; font-size: 15px; color: #555; margin: 0; }
	.culinary .content .button { position: absolute; right: 20px; bottom: 20px; }
	
	
/* -----------------------------------------
   Event
----------------------------------------- */
	
	.cta { margin: 30px 0; text-align: center; }
	
	
	a.map { display: block; }

  #cms_nav {
      position:absolute;
      top: 0;
      left: 0;
      width: 100%;
      margin:0;
      z-index: 10;
  }