/* container for slides */
.images {
    
    position:relative;
    height:270px;

    width:100%;
    cursor:pointer;
}

#slider {
  width: 960px;
}

/* single slide */
.images > div {
    display:none;
    position:absolute;
    top:0;
    left:0;
    margin:7px;
    padding:15px 30px 15px 15px;
    height:256px;
    font-size:12px;
}

div.youtube {
  float: left;
  width: 50%;
  height: 238px;
  
}

div.text {
  width: 45%;
  float: left;
  margin-left: 5%;
}


.slider-tabs-container {

overflow: hidden;
margin: 14px 39px;

}

/* tabs (those little circles below slides) */
.row .slider-tabs {
    width: 999999px !important;
    margin-left: 10px;
}

.slider {
    
    background: url(../images/slider.png) top left no-repeat;
    height: 414px;
    position: relative;

}

.slider h2 {
    color: #fff;
    font-family: 'Nixie One',cursive;
    font-size: 25px;
    font-weight: normal;
    margin-top:0;
    margin-bottom: 46px;
}

.slider h2 a {
    color: #fff;

}


.slider .text {
  color: #D0D0B2;
  line-height: 150%;
  font-size: 13px;
  margin-bottom: 15px;
  
}

.slider .text p {
    border-bottom: 1px dashed #c0c0a6;
    padding-bottom: 5px;
}

.slider .text p.noborder {
    border: none;
}

/* single tab */
.slider-tabs a {
    width:164px;
    height:118px;
    float:left;
    margin-right:10px;
    border: 1px solid #fff;
    display:block;
    overflow: hidden;
    position: relative;
    
}
.slider-tabs a span.author {
   font-size: 13px;
   color: #fff;
   position: absolute;
   bottom: 10px;
   width: 95%;
   display:block;
   z-index: 20;
   left: 5%;
   
}

.slider .prev, .slider .next {
    position:absolute;
    width: 30px;
    height: 145px;
}

.slider .prev a, .slider .next a { 
   width: 100%;
   height: 100%;
   display: block;

}

.slider .prev a span, .slider .next a span { display: none; }

.slider .prev {
    left: 0;
}


.slider .next {
    right: 0;
}

.slider-tabs a span.bg {

  display:block;
  position: absolute;
  bottom: 0;
  width:100%;
  background: #000;
  filter: alpha(opacity:0.5);
  KHTMLOpacity: 0.5;
  MozOpacity: 0.5;
  -khtml-opacity:.50;
  -ms-filter:"alpha(opacity=50)";
  -moz-opacity:.50;
  filter:alpha(opacity=50);
  opacity:.50;
  height: 30px;
  z-index: 10;

  text-align:center;
  
}

/* active state (current page state) */
.slider-tabs a.current span {
    font-weight: bold;
}



/* disabled navigational button. is not needed when tabs are
   configured with rotate: true */
.disabled {
    visibility:hidden !important;
}

.participants-list a {
  color: #5e6162;
}

.participants-list {
  background: #c7d3d8;
  margin-top: 20px;
  -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px;
  color: #5e6162;
  
}

.participants-list .row div small {
  font-weight: normal;
  font-size: 11px;
}

.participants-list .row div {
  font-size: 12px;
  font-weight: bold;
}

.participants-list .row {
  border-bottom: 1px solid #bcc6ca;
  margin-bottom: 6px;
  padding-bottom: 4px;
}

.participants-list h5 {
  font-family: 'Nixie One',cursive;
  font-weight: normal;
}

