
# cmf configuration
doctrine_phpcr:
    # configure the PHPCR session
    session:
        backend: %phpcr_backend%
        workspace: %phpcr_workspace%
        username: %phpcr_user%
        password: %phpcr_pass%
    # enable the ODM layer
    odm:
        auto_mapping: true
        auto_generate_proxy_classes: %kernel.debug%
        locales:
            en:
                - en
                - il
            il:
                - il
                - en

symfony_cmf_routing_extra:
    chain:
        routers_by_id:
            symfony_cmf_routing_extra.dynamic_router: 20
            router.default: 100
    dynamic:
        enabled: true
        controllers_by_alias:
            demo_alias: sandbox_main.controller:aliasAction
        controllers_by_class:
            Sandbox\MainBundle\Document\DemoClassContent: sandbox_main.controller:classAction
            Symfony\Cmf\Bundle\RoutingExtraBundle\Document\RedirectRoute:  symfony_cmf_routing_extra.redirect_controller:redirectAction
        templates_by_class:
            Symfony\Cmf\Bundle\ContentBundle\Document\MultilangStaticContent: SandboxMainBundle:MultilangStaticContent:index.html.twig

parameters:
  symfony_cmf_content.multilang.admin_class: WNC\SoldierBundle\Admin\StaticContentAdmin

#symfony_cmf_simple_cms:
#    routing:
#        templates_by_class:
#            Symfony\Cmf\Bundle\SimpleCmsBundle\Document\Page:  SandboxMainBundle:Homepage:page.html.twig

knp_menu:
    twig: true

symfony_cmf_create:
    phpcr_odm: true
    map:
        'http://rdfs.org/sioc/ns#Post': 'Symfony\Cmf\Bundle\ContentBundle\Document\MultilangStaticContent'
    use_coffee: %liip_vie.use_coffee%
    image:
        model_class: Symfony\Cmf\Bundle\CreateBundle\Document\Image
        controller_class: Symfony\Cmf\Bundle\CreateBundle\Controller\PHPCRImageController

symfony_cmf_content:
    multilang:
      locales: %locales%

#symfony_cmf_menu:
#    multilang:
#      locales: %locales%

sonata_block:
    default_contexts: [cms]
    blocks:
        sonata.admin.block.admin_list:
            contexts:   [admin]
        sonata_admin_doctrine_phpcr.tree_block:
            settings:
                id: '/cms'
            contexts:   [admin]

sonata_admin:
    title:      L'Shem Shmira
    title_logo: /bundles/sonataadmin/logo_title.png
    templates:
        # default global templates
        ajax:    SonataAdminBundle::ajax_layout.html.twig
        layout:  SonataAdminBundle::admin_layout.html.twig
    dashboard:
        blocks:
            # display a dashboard block
            - { position: right, type: sonata.admin.block.admin_list }
            - { position: left, type: sonata_admin_doctrine_phpcr.tree_block }
        groups: 
          sonata_user:
                label: Users
                items: 
                  - sonata.user.admin.user
                  - sonata.admin.soldier
                  - sonata.admin.participant
                
          sonata_news:
                label: Blog
                items: 
                  - sonata.news.admin.post
                  - sonata.news.admin.comment
          sonata_media:
                label: Medias
                items: 
                  - sonata.media.admin.media
          cms:
                label: CMS
                items:
                  - symfony_cmf_content.multilang.admin
                  - symfony_cmf_routing_extra.route_admin
                  - evercode_faq.admin.faq
                  - sonata.admin.activity
            

sonata_doctrine_phpcr_admin:
    document_tree:
        Doctrine\PHPCR\Odm\Document\Generic:
            valid_children:
                - all
        Symfony\Cmf\Bundle\ContentBundle\Document\MultilangStaticContent: ~
        Symfony\Cmf\Bundle\SimpleCmsBundle\Document\Page: ~
        Symfony\Cmf\Bundle\RoutingExtraBundle\Document\Route:
            valid_children:
                - Symfony\Cmf\Bundle\RoutingExtraBundle\Document\Route
                - Symfony\Cmf\Bundle\RoutingExtraBundle\Document\RedirectRoute
        Symfony\Cmf\Bundle\RoutingExtraBundle\Document\RedirectRoute:
            valid_children: []
        Symfony\Cmf\Bundle\MenuItem\Document\MenuItem:
            valid_children:
                - Symfony\Cmf\Bundle\MenuItem\Document\MenuItem
                - Symfony\Cmf\Bundle\ContentBundle\Document\MultilangMenuItem
        Symfony\Cmf\Bundle\ContentBundle\Document\MultilangMenuItem:
            valid_children:
                - Symfony\Cmf\Bundle\MenuItem\Document\MenuItem
                - Symfony\Cmf\Bundle\ContentBundle\Document\MultilangMenuItem

fos_js_routing:
    routes_to_expose:
        - admin_bundle_menu_menuitem_create
        - admin_bundle_menu_menuitem_delete
        - admin_bundle_menu_menuitem_edit
        - admin_bundle_menu_multilangmenuitem_create
        - admin_bundle_menu_multilangmenuitem_delete
        - admin_bundle_menu_multilangmenuitem_edit
        - admin_bundle_content_multilangstaticcontent_create
        - admin_bundle_content_multilangstaticcontent_delete
        - admin_bundle_content_multilangstaticcontent_edit
        - admin_bundle_routingextra_route_create
        - admin_bundle_routingextra_route_delete
        - admin_bundle_routingextra_route_edit
        - admin_bundle_simplecms_page_create
        - admin_bundle_simplecms_page_delete
        - admin_bundle_simplecms_page_edit
        - symfony_cmf_tree_browser.phpcr_children
        - symfony_cmf_tree_browser.phpcr_move
        - sonata.admin.doctrine_phpcr.phpcrodm_children
        - sonata.admin.doctrine_phpcr.phpcrodm_move

sensio_framework_extra:
    view:    { annotations: false }
    router:  { annotations: true }
    request: { converters: true }

#liip_search:
#    restrict_by_language: true;
#
#symfony_cmf_search:
#    translation_strategy: child
##    translation_strategy: attribute
##    search_path: /cms/simple
#    search_fields:
#        title: title
#        summary: body
#
#lunetics_locale:
#    guessing_order:
#        - cookie
#        - router
#        - browser
#    allowed_locales: %locales%
    
fos_rest:
    view:
        view_response_listener: true