imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.xml }

framework:
    #esi:             ~
    translator:      { fallback: %locale% }
    secret:          %secret%
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: %kernel.debug%
    form:            true
    csrf_protection: true
    validation:      { enable_annotations: true }
    templating:      { engines: ['twig'] } #assets_version: SomeVersionScheme
    default_locale:  %locale%
    trust_proxy_headers: false # Whether or not the Request object should trust proxy headers (X_FORWARDED_FOR/HTTP_CLIENT_IP)
    session:         ~

# Twig Configuration
twig:
    debug:            %kernel.debug%
    strict_variables: %kernel.debug%
    form:
        resources:
            - 'WNCSoldierBundle:Form:fields.html.twig'

# Assetic Configuration
assetic:
    debug:          %kernel.debug%
    use_controller: false
    bundles:        [WNCSoldierBundle, FOSUserBundle]
    #java: /usr/bin/java
    filters:
        cssrewrite: ~
        #closure:
        #    jar: %kernel.root_dir%/Resources/java/compiler.jar
        #yui_css:
        #    jar: %kernel.root_dir%/Resources/java/yuicompressor-2.4.7.jar

# Doctrine Configuration
doctrine:
    dbal:
        driver:   %database_driver%
        host:     %database_host%
        port:     %database_port%
        dbname:   %database_name%
        user:     %database_user%
        password: %database_password%
        charset:  UTF8
        types:
            json: Sonata\Doctrine\Types\JsonType
        mapping_types:
            enum: string
            

    orm:
        auto_generate_proxy_classes: %kernel.debug%
        entity_managers:
             default:
                 auto_mapping: true
                 mappings: ~
                 dql:
                     string_functions:
                         match: WNC\SoldierBundle\Entity\MatchFunction

# Swiftmailer Configuration
swiftmailer:
    transport: gmail
    username:  tworzenieweb@gmail.com
    password:  Jemvojpoacho

fos_user:
    db_driver: orm # other valid values are 'mongodb', 'couchdb' and 'propel'
    firewall_name: main
    user_class: Application\Sonata\UserBundle\Entity\User
    group:
        group_class: Application\Sonata\UserBundle\Entity\Group
    registration:
        confirmation:
            enabled:    true
            from_email:
              address:        registration@isham.com
              sender_name:    Isham Registration
        form:
            type: application_sonata_user_registration
            name: application_sonata_user_registration
            handler: wnc_soldier.form.handler.registration
            
    service:              
        mailer:               application_sonata_user.mailer


        

sonata_user:
    security_acl: true
    profile:
      form:
        type: application_sonata_user_edit



sonata_admin:
        templates:
          layout: SonataAdminBundle::admin_layout.html.twig
        security:
            handler: sonata.admin.security.handler.role

        title:      L'Shem Shmira

sonata_block:
    default_contexts: [cms]
    blocks:
        sonata.admin.block.admin_list:
            contexts:   [admin]

        sonata.block.service.text:
        sonata.page.block.container:
        sonata.page.block.children_pages:
        sonata.block.service.rss:
          
sonata_page:
    multisite: host
    ignore_route_patterns:
        - ^(.*)admin(.*)   # ignore admin route, ie route containing 'admin'
        - ^_(.*)          # ignore symfony routes

    ignore_routes:
        - sonata_page_esi_cache
        - sonata_page_js_sync_cache
        - sonata_page_js_async_cache
        - sonata_page_apc_cache

    ignore_uri_patterns:
        - ^/admin(.*)   # ignore admin route, ie route containing 'admin'

    page_defaults:
        homepage: {decorate: false} # disable decoration for homepage, key - is a page route

    default_template: default # template key from templates section, used as default for pages
    templates:
        default: {path: 'WNCSoldierBundle::base.html.twig', name: default }

    # manage the http errors
    catch_exceptions:
        not_found: [404]    # render 404 page with "not_found" key (name generated: _page_internal_error_{key})
        fatal:     [500]    # so you can use the same page for different http errors or specify specific page for each error
        
        
knp_paginator:
    page_range: 5                      # default page range used in pagination control
    default_options:
        page_name: page                # page query parameter name
        sort_field_name: sort          # sort field query parameter name
        sort_direction_name: direction # sort direction query parameter name
        distinct: true                 # ensure distinct results, useful when ORM queries are using GROUP BY statements
    template:
        pagination: WNCSoldierBundle:Pagination:sliding.html.twig     # sliding pagination controls template
        sortable: WNCSoldierBundle:Pagination:sortable_link.html.twig # sort link template
        
        
vich_uploader:
    db_driver: orm
    mappings:
        product_image:
            uri_prefix: /uploads/pictures
            upload_destination: %kernel.root_dir%/../web/uploads/pictures
            inject_on_load: false
            
#            
#genemu_form:
#    file:
#        enabled:    true
#        swf: '/bundles/wncsoldier/javascripts/uploadify/uploadify.swf'
#        folder:     '/uploads'
#        cancel_img: '/bundes/genemuform/images/cancel.png'
# 


sonata_seo:
        title:            L'Shem Shmira
        metas:
            name:
                keywords:             foo bar
                description:          L'Shem Shmira
                robots:               index, follow
                
                
symfony_cmf_routing_extra:
        chain:
            routers_by_id:
                # enable the DynamicRouter with high priority to allow overwriting configured routes with content
                #symfony_cmf_routing_extra.dynamic_router: 200
                # enable the symfony default router with a lower priority
                sonata.page.router: 150
                router.default: 100
                
                
stfalcon_tinymce:
        include_jquery: true
        tinymce_jquery: true