imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.xml }
    - { resource: doctrine_extensions.yml }
    - { resource: cmf.yml }
    - { resource: doctrine_cr.yml }
    - { resource: menu.yml }

framework:
    #esi:             ~
    translator:      { fallback: %locale% }
    secret:          %secret%
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: %kernel.debug%
    form:            true
    csrf_protection: true
    validation:      { enable_annotations: true }
    templating:      { engines: ['twig'] } #assets_version: SomeVersionScheme
    default_locale:  %locale%
    trust_proxy_headers: false # Whether or not the Request object should trust proxy headers (X_FORWARDED_FOR/HTTP_CLIENT_IP)
    session: ~


services:
 participation.listener:
    class: WNC\SoldierBundle\EventListener\ParticipantAssociation
    arguments: ['@service_container']
    tags:
        - { name: doctrine.event_listener, event: postPersist }
 my.listener:
    class: Application\Sonata\NewsBundle\EventListener\AuthorSubscriber
    arguments: ['@service_container']
    tags:
        - { name: doctrine.event_listener, event: prePersist }

 twig.extension.text:
     class: Twig_Extensions_Extension_Text
     tags:
         - { name: twig.extension }

# Twig Configuration
twig:
    debug:            %kernel.debug%
    strict_variables: %kernel.debug%
    form:
        resources:
            - 'WNCSoldierBundle:Form:fields.html.twig'

# Assetic Configuration
assetic:
    debug:          %kernel.debug%
    use_controller: false
    bundles:        [WNCSoldierBundle, FOSUserBundle, SymfonyCmfCreateBundle, SandboxMainBundle]
    #java: /usr/bin/java
    filters:
        cssrewrite: ~
        #closure:
        #    jar: %kernel.root_dir%/Resources/java/compiler.jar
        #yui_css:
        #    jar: %kernel.root_dir%/Resources/java/yuicompressor-2.4.7.jar

# Doctrine Configuration
doctrine:
    dbal:
        driver:   %database_driver%
        host:     %database_host%
        port:     %database_port%
        dbname:   %database_name%
        user:     %database_user%
        password: %database_password%
        charset:  UTF8
        types:
            json: Sonata\Doctrine\Types\JsonType
        mapping_types:
            enum: string
            

    orm:
        auto_generate_proxy_classes: %kernel.debug%
        entity_managers:
             default:
                 auto_mapping: true
                 mappings: ~
                 dql:
                     string_functions:
                         match: WNC\SoldierBundle\Entity\MatchFunction

# Swiftmailer Configuration
swiftmailer:
    transport: gmail
    username:  tworzenieweb@gmail.com
    password:  Jemvojpoacho

fos_user:
    db_driver: orm # other valid values are 'mongodb', 'couchdb' and 'propel'
    firewall_name: main
    user_class: Application\Sonata\UserBundle\Entity\User
    group:
        group_class: Application\Sonata\UserBundle\Entity\Group
    registration:
        confirmation:
            enabled:    true
            from_email:
              address:        registration@isham.com
              sender_name:    Isham Registration
        form:
            type: application_sonata_user_registration
            name: application_sonata_user_registration
            handler: wnc_soldier.form.handler.registration
            
    service:              
        mailer:               application_sonata_user.mailer


        

sonata_user:
    security_acl: true
    profile:
      form:
        type: application_sonata_user_edit



sonata_media:
    db_driver:       doctrine_orm # | doctrine_mongodb
    default_context: default
    contexts:
        default:  # the default context is mandatory
            providers:
                - sonata.media.provider.dailymotion
                - sonata.media.provider.youtube
                - sonata.media.provider.image
                - sonata.media.provider.file
                - sonata.media.provider.vimeo

            formats:
                small: { width: 100, height: 100, quality: 100}
                big:   { width: 820, height: 600, quality: 100}
                wide:    { width: 450, height: 238, quality: 100}
        user:
            providers:
                - sonata.media.provider.dailymotion
                - sonata.media.provider.youtube
                - sonata.media.provider.image
                - sonata.media.provider.file
                - sonata.media.provider.vimeo

            formats:
                small: { width: 100, height: 100, quality: 100}
                big:   { width: 640, height: 480, quality: 100}

        news:
            providers:
                - sonata.media.provider.dailymotion
                - sonata.media.provider.youtube
                - sonata.media.provider.image
                - sonata.media.provider.vimeo

            formats:
                abstract: { width: 100, height: 80, quality: 100}
                small: { width: 140, height: 100, quality: 100}
                wide:    { width: 450, height: 238, quality: 100}
                slider: { width: 164, height: 118, quality: 100}

    filesystem:
        # define where the uploaded file will be stored
        local:
            directory:  %kernel.root_dir%/../web/uploads/media
            create:     true
    cdn:
        # define the public base url for the uploaded media
        server:
            path:      /uploads/media
    providers:
        file:
            resizer:    false

    pixlr:
        enabled:  true
        referrer: L'Shem Shmira

    resizer:
        simple:
#            mode:  outbound
            mode:  inbound

sonata_news:
    title:        L'Shem Shmira
    link:         http://lshemshmira.com
    description:  Soldier
    salt:         'secureToken'
    permalink_generator: sonata.news.permalink.date # sonata.news.permalink.category

    admin:
        post:
          class: Application\Sonata\NewsBundle\Admin\PostAdmin
    comment:
        notification:
            emails:   [lukasz.adamczewski@polcode.pl]
            from:     no-reply@lshemshmira.com
            template: 'SonataNewsBundle:Mail:comment_notification.txt.twig'      
        
knp_paginator:
    page_range: 5                      # default page range used in pagination control
    default_options:
        page_name: page                # page query parameter name
        sort_field_name: sort          # sort field query parameter name
        sort_direction_name: direction # sort direction query parameter name
        distinct: true                 # ensure distinct results, useful when ORM queries are using GROUP BY statements
    template:
        pagination: WNCSoldierBundle:Pagination:sliding.html.twig     # sliding pagination controls template
        sortable: WNCSoldierBundle:Pagination:sortable_link.html.twig # sort link template
        
        
#            
#genemu_form:
#    file:
#        enabled:    true
#        swf: '/bundles/wncsoldier/javascripts/uploadify/uploadify.swf'
#        folder:     '/uploads'
#        cancel_img: '/bundes/genemuform/images/cancel.png'
# 


sonata_seo:
        title:            L'Shem Shmira
        metas:
            name:
                keywords:             foo bar
                description:          L'Shem Shmira
                robots:               index, follow

                
stfalcon_tinymce:
        include_jquery: false
        tinymce_jquery: true
        theme:
            # Simple theme as same as default theme
            simple:
                mode: "textareas"
                theme: "advanced"
                theme_advanced_buttons1: "mylistbox,mysplitbutton,bold,italic,underline,separator,strikethrough,justifyleft,justifycenter,justifyright,justifyfull,bullist,numlist,undo,redo,link,unlink"
                theme_advanced_buttons2: ""
                theme_advanced_buttons3: ""
                theme_advanced_toolbar_location: "top"
                theme_advanced_toolbar_align: "left"
                theme_advanced_statusbar_location: "bottom"
                plugins: "fullscreen"
                theme_advanced_buttons1_add: "fullscreen"
            # Advanced theme with almost all enabled plugins
            advanced:
                content_css: "/bundles/wncsoldier/stylesheets/app.css"
                theme: "advanced"
                plugins: "pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template"
                theme_advanced_buttons1: "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,styleselect,formatselect,fontselect,fontsizeselect"
                theme_advanced_buttons2: "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor"
                theme_advanced_buttons3: "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen"
                theme_advanced_buttons4: "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak"
                theme_advanced_toolbar_location: "top"
                theme_advanced_toolbar_align: "left"
                theme_advanced_statusbar_location: "bottom"
                theme_advanced_resizing: true
            # Medium number of enabled plugins + spellchecker
            medium:
                mode: "textareas"
                theme: "advanced"
                plugins: "table,advhr,advlink,paste,xhtmlxtras,spellchecker"
                theme_advanced_buttons1: "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,forecolor,backcolor,|,hr,removeformat,|,sub,sup,|,spellchecker"
                theme_advanced_buttons2: "cut,copy,paste,pastetext,pasteword,|,bullist,numlist,|,undo,redo,|,link,unlink,anchor,cleanup,code,|,tablecontrols"
                theme_advanced_buttons3: ""
                theme_advanced_toolbar_location: "top"
                theme_advanced_toolbar_align: "left"
                theme_advanced_statusbar_location: ""
                paste_auto_cleanup_on_paste: true
                spellchecker_languages: "+English=en,Dutch=nl"
            # BBCode tag compatible theme (see http://www.bbcode.org/reference.php)
            bbcode:
                mode: "none"
                theme: "advanced"
                plugins: "bbcode"
                theme_advanced_buttons1: "bold,italic,underline,undo,redo,link,unlink,image,forecolor,styleselect,removeformat,cleanup,code"
                theme_advanced_buttons2: ""
                theme_advanced_buttons3: ""
                theme_advanced_toolbar_location: "bottom"
                theme_advanced_toolbar_align: "center"
                theme_advanced_styles: "Code=codeStyle;Quote=quoteStyle"
                entity_encoding: "raw"
                add_unload_trigger: false
                remove_linebreaks: false
                inline_styles: false
                convert_fonts_to_spans: false
        
        
sonata_intl:
    timezone:
        # default timezone used as fallback
        default: Europe/London
        
sonata_formatter:
    formatters:
        markdown:
            service: sonata.formatter.text.markdown
            extensions:
                - sonata.formatter.twig.control_flow
                - sonata.formatter.twig.gist
                - sonata.media.formatter.twig