{% extends 'WNCSoldierBundle::layout.html.twig' %}

{% block content %}	
<h2>Profile Details</h2>

{% block fos_user_content %}
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}

{% endblock %}