{% extends 'WNCSoldierBundle::layout.html.twig' %}

{% block content %}

<h2>About Us</h2>

<div>
  <img src="{{ asset('bundles/wncsoldier/images/about.png') }}" align="right" />
<p>In 2011, our son decided to move to Israel and enlist in the Paratroopers as a &ldquo;Chayal boded&rdquo; a &ldquo;Lone Soldier&rdquo;. Not having immediate family in Israel to support you, rub your shoulders after a masa (hike with gear), talk to your m&rsquo;fakdim (commanders), and of course, do your laundry, categorizes you as a Lone Soldier. Brave, idealistic and somewhat crazy, our son went off to training and jump out of perfectly good airplanes.</p>
</div>
<div>
<p>The possibility of war is a constant presence in Israel. We knew we wanted to support him, however we could, even from a distance. What should we do?&nbsp;</p>
</div>
<div>&nbsp;</div>
<p>Throughout the millennia, Jews around the globe have been taking upon themselves the performance of additional spiritual deeds, and saying tehillim (Psalms) in times of danger or distress. In addition, our tradition tells us that Torah study in someone&rsquo;s merit provides protection.&nbsp;</p>
<div>&nbsp;</div>
<p>So we decided, why not increase our spiritual deeds on his behalf? But what about everyone else in his pluga (platoon)? The army forces one to think in terms of one&rsquo;s unit, first and foremost. We knew we had to think in terms of our unit as well: the Jewish People. The only way we can overcome our enemies is if we band together.&nbsp;</p>
<div>&nbsp;</div>
<div>
<p>We got a glimpse of optimism when we received notice of a webpage created by Rav Simcha Kook&rsquo;s Yeshiva in 2009 during Israel&rsquo;s Operation Cast Lead. With a click of a link, it offered the first name and the mother&rsquo;s name of a soldier in ground combat in Gaza. Most importantly, Jews from all over the world got behind it. Endorsed by such prominent Israeli Rabbis as Rav Kook, the Bostoner Rebbe, zt&rdquo;l and many others, there were over 100,000 people who took a name and studied Torah, prayed, and performed Mitzvot on behalf of these soldiers.</p>
</div>
<div>&nbsp;</div>
<div>
<p>The picture became clear. Make this process into a permanent website. Open up the forum to all Jews. Encourage soldiers to sign up and encourage the rest of us to do good deeds on their behalf. Make it a person to person connection. Do it before a war starts, God forbid.&nbsp;</p>
</div>
<div>&nbsp;</div>
<div><strong>So, who are we?</strong></div>
<div>&nbsp;</div>
<div>
<p>We are people with sons, daughters and friends in the IDF. We believe that this program can speak to all Jews: religious or secular, no matter where you live. &nbsp;There is a tremendous opportunity for a spiritual response to open hearts throughout the world. There is tremendous space in a Jewish heart that is available for acts of loving kindness and gratitude to others.&nbsp;</p>
</div>


<div class="row collapse">
  <div class="eight columns spoiler">
    <div class="eight columns blue">
      <h3>Join L'Shem Shmirah Project.</h3>
      <p>It's personal. It's powerful. It's one name at a time.<br />
      It's guard duty for the rest of us.
      </p>

    </div>
    <div class="four columns gray text-center">

      <a href="{{ path('fos_user_registration_ajax') }}" class="register_button button">SIGN UP</a>

    </div>
  </div>
</div>
{% endblock content %}

