{% extends 'WNCSoldierBundle::layout.html.twig' %}

{% block content %}

<h2>FAQ</h2>

<a href="">What is The L'Shem Shmirah Project about?</a>
<br /><br />
<strong>How does it work?</strong>
<p>The soldier signs up with only his full Hebrew name and his mother's Hebrew name, an email address or phone number, hometown, and end date of service. He is automatically paired with a person or family for the length of his service. 
<br /></p>
<p>The participants call, fax or email to receive the name of the soldier. The soldier receives the name and hometown of the person or family who is doing good deeds in his merit. To protect your privacy, no personal contact information is shared.</p>

<a href="">How did this program get started?</a><br />

<a href="">Who is participating?</a><br />

<a href="">Are you receiving halachic guidance?</a><br />

<a href="">We are not currently in a state of war. Why start this now?</a><br />

<a href="">Are soldiers included who are in the reserve army?</a><br />

<a href="">I am not religiously observant. How can I participate?</a><br />

<a href="">Is there any other precedent to this in terms of helping to protect Jewish soldiers?</a><br />

<a href="">Is there a minimum age to participate?</a><br />

<a href="">Why can't we exchange the full names and contact info of the people involved?</a><br />

<a href="">How will we know whether the participants are doing what they pledged to do?</a><br />

<a href="">How will participants stay motivated in the long term?</a><br />
<style>
    .content a {
      color: #008aa5;
      border-bottom: 1px dotted #008aa5;
      margin-bottom: 20px;
      display: inline-block;
      }
    </style>
{% endblock content %}

