{% extends 'WNCSoldierBundle::layout.html.twig' %}

      
{% block container %}

{% render "ApplicationSonataNewsBundle:Post:slider" %}

<div class="row content">
	<div class="twelve columns">	

        <div class="six columns">
            <div class="eleven columns">
            <h2>Projekt Shmira Blog</h2>
            
            {% render "ApplicationSonataNewsBundle:Post:latest" %}
            </div>
        </div>


        <div class="six columns participants-list text-center">
        <h5><img src="{{ asset('bundles/wncsoldier/images/participant_icon.png') }}" />&nbsp; WHO HAS JOINED?&nbsp; <img src="{{ asset('bundles/wncsoldier/images/participant_icon.png') }}" /></h5>

        {% render "WNCSoldierBundle:Default:participants" %}

        </div>

    </div>

</div>






{% endblock %}

  
{% block javascripts %}
{{ parent() }}

<script src="{{ asset('bundles/wncsoldier/javascripts/slider.js') }}" type="text/javascript"></script>

{% endblock %}