{% extends 'WNCSoldierBundle::base.html.twig' %}

{% block content %}	
<h4>Edit</h4>
<br />

{% block fos_user_content %}
{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
{% endblock fos_user_content %}

{% endblock %}