<a href="{{ path('fos_user_registration_ajax') }}" class="back">&laquo; Back to Form</a>

<p>
 - Fax us your First name, Last name, City, Phone number, School/Institution at Efax number
</p>
<p>
 - Text in the above info to 123-456-7890
</p>
