<p><a href="{{ path('fos_user_registration_ajax') }}" class="back">&laquo; Back to Form</a>
</p>
<p>
 - Fax us your First name, Last name, City, Phone number, School/Institution at Efax number
</p>
<p>
 - Text in the above info to EFAX number 410-558-6408, this number receives faxes from overseas as well.
</p>
